body {
  font-family: sans-serif;
  font-weight: bold;
  margin: 0;
  min-height: inherit;
}

* {
  box-sizing: border-box;
}

header,
nav,
main,
aside,
footer {
  padding: 12px;
}

header {
  background-color: tomato;
  height: 60px;
}

nav {
  background-color: coral;
}

main {
  background-color: moccasin;
}

aside {
  background-color: sandybrown;
}

footer {
  background-color: slategray;
  height: 100px;
}

.container {
  display: grid;
  width: 100%;
  height: calc(100vh - 160px);
  grid-template-columns: 100px auto 100px;
}
