---
---

<main>
  <article>
    <h1>Exercises</h1>
    <ol>
      <li>
        <a href="/books" target="_blank" rel="noopener"
          >Custom data attributes</a
        >
      </li>
      <li>
        <a href="/sowing-time" target="_blank" rel="noopener"
          >Update Sowing Time</a
        >
      </li>
      <li>
        <a href="/ownership" target="_blank" rel="noopener">Change Ownership</a>
      </li>
      <li>
        <a href="/la-restaurants" target="_blank" rel="noopener"
          >Design with data attributes</a
        >
      </li>
    </ol>
  </article>
</main>

<style>
  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
</style>
