---

---

<main>
	<!-- <big> is a HTML4 tag used to define bigger text -->
	<!-- <big> is strangely part of the solution, but it is deprecated in HTML5. Alternatively, you would use <em>, <strong>, or <b> instead -->
      <big> 
        The Realm of HTML5!
      </big>
      <p>
		<!-- <abbr> is abbrviation and prop title= can expand on the abbreviation or acronym -->
         <abbr title="HyperText Markup Language">HTML5</abbr> was first released in public-facing form on 22 January 2008, with a major update and "W3C Recommendation" status in October 2014.
         This website is all about <abbr title="HyperText Markup Language">HTML</abbr>.
         <strong>HTML5 is really useful in web development</strong> 
      </p>
	  <!-- <dfn> indicate a term being defined. -->
      <dfn>HTML</dfn> is the standard markup language for creating web pages. Besides that, <em>HTML is fun!</em>
      <p>I <del>like</del> <ins>love</ins>  front end web development.</p>
      <p>The HTML <code>button</code> tag defines a clickable button.</p>
      <p>The CSS <code>background-color</code> property defines the background color of an element.</p>
      <p>Be sure to revise <mark>Chapter 2</mark> before moving onto the CSS content.</p>
</main>

<style>
	body {
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		background: #232023;
		color: white;
		padding: 0.5rem;
	}
	big {
		color: #10cef0d6;
	}

	abbr {
		color: purple;
	}

	dfn {
		color: green;
	}

	del {
		color: red;
	}

	mark {
		background: yellow;
		color: #232023;
	}
</style>
