---

---

<p> 
    In my younger and more vulnerable years my father gave me some advice that I've been turning over in my mind ever since.
    <q>Whenever you feel like criticizing any one,</q> he told me, 
    <q>just remember that all the people in this world haven't had the advantages that you've had.</q>
</p>
<p>
    <!-- <i> sets off normal text. Some libraries use <i> to show icons, so <em> would be the better usage -->
    Reserving judgements is a matter of <i>infinite</i> hope.
</p>
<p>
    There was something unique about Gatsby:
    <!-- <pre> is preformatted text. Whitespace is displayed as written inside this element. -->
    <pre>He smiled understandingly-much more than understandingly. It was one of those rare smiles 
    with a quality of eternal reassurance in it, that you may come across four or five times 
    in life. It faced--or seemed to face--the whole eternal world for an instant, and 
    then concentrated on you with an irresistible prejudice in your favor. 
    It understood you just as far as you wanted to be understood, believed in you as you would 
    like to believe in yourself, and assured you that it had precisely the impression of you 
    that, at your best, you hoped to convey.</pre>
</p>
<p>
    "And as I sat there brooding on the old, unknown world, I thought of Gatsby’s wonder when
    he first picked out the green light at the end of Daisy’s dock. He had come a long way to 
    this blue lawn, and his dream must have seemed so close that he could hardly fail to grasp it.
    He did not know that it was already behind him, somewhere back in that vast obscurity beyond the city,
    where the dark fields of the republic rolled on under the night.
    <u>Gatsby believed in the green light,</u> the orgastic future that year by year recedes before us. 
    It eluded us then, but that's no matter—to-morrow we will run faster, 
    stretch out our arms farther. . . And one fine morning---"
</p>
<p>
    <em>So we beat on, boats against the current, borne back ceaselessly into the past.</em>
</p>
<p>
    <q>Life starts all over again when it gets crisp in the fall.</q>
    - F. Scott Fitzgerald, The Great Gatsby
</p>

<style>
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: #232023;
    color: white;
}
q {
    color: #10cef0d6;
}

i {
    color: #944fd4f3;
}

u {
    color: green;
}


main {
    background: #232023;
    color: white;
    padding: 0.5rem;
}
</style>